h1{
    color: #2c3e50;
    text-align: center;
}
h2{
    color: #2c3e50;
    margin-top: 1rem;
}
h3{
    color: #34495e;
    margin-top: 1rem;
}
p{
    color: #555;
    line-height: 1.6;
    margin: 1rem 0;
    font-size: 1rem;
    text-align: justify;
}